<div class="goal-video-wrapper">
  <%= video_tag random_poly_video, autoplay: :autoplay, loop: :loop, mute: :mute, class: "goal_video" %>

<h1>Goals</h1>

<% @goals.each do |g| %>
<%= link_to  g.title, g %><br/>
<% end %>


 
 <%= button_to('Create a Goal!', new_goal_path, method: :get) %>
</div>