.home_video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2; 
}   

.home-video-wrapper {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: auto; 
}   

.goal_video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}   

.goal-video-wrapper {
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
overflow: auto;  
}   

ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}

li {
    float: left;
}
  
li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.login {
    margin: auto;
    width: 30%;
    border: 2px solid rgb(109, 184, 192, 0.6);
    border-radius: 6px;
    background-color: rgba(100, 100, 100, 0.75);
    padding: 20px;
    margin-top: 18%;
    margin-right: 60%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.login-div {
    display: inline-block;
  justify-content: space-between;
  padding: 10px 0;
}

.goals-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.goals-header-container h1 {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5em;
    font-weight: 600;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.nav-header-container {
    display: inline;
}

.nav-header {

}

.nav-item {
    margin: 15px;
    padding: 5px;
}


.myButton {
    margin: 7px;
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.myButton:active {
    position:relative;
    top:1px;
}
.buttonWW {
	box-shadow: 0px 10px 14px -7px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:4px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    float: left;
    margin-right: 20px;
}
.buttonWW:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.buttonWW:active {
	position:relative;
	top:1px;
}

.buttonWW-group {
    margin-left: 20px;
}
        
.goal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: stretch;
}

.goal-div {
    padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.fancy {
    text-align: center;
    box-sizing: border-box;
    width     : 200px;
    height    : 200px;
    padding   : 40px 1em 0 1em;
    margin    : 0 100px;
    position: relative;
    background-color: #A4C9CF;
    border-radius: 100% 50% 50% 50%;
  }