body {
    background: rgb(243, 229, 255);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.simple-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 3px;
    margin: 1rem;
    height: 40%;
    width: 30%;
    position: relative;
    background: rgb(76,255,86);
    background: linear-gradient(180deg, rgba(76,255,86,1) 0%, rgb(138, 255, 95) 50%, rgba(76,255,86,1) 100%); 
}

.back {
    display: flex;
    justify-self: start;
}


.home_video {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2; 
}   

.home-video-wrapper {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: auto; 
}   

@media (min-width: 40rem) {
    .home_video {
        height: 100vh;
        background-position: 50% 25%;
        object-fit: cover;
    }

}

.goal_video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}   

.goal-video-wrapper {
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
overflow: auto;  
}   

ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}

li {
    float: left;
}
  
li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}



/* .login {
    display: flex;
    align-self: center;
    justify-self: center;
    margin: auto;
    width: 50%;
    border: 2px solid rgb(109, 184, 192, 0.6);
    border-radius: 6px;
    background-color: rgba(100, 100, 100, 0.75);
    padding: 20px;
    margin-top: 18%;
    margin-right: 60%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.login-div {
    display: flex;
    align-self: center;
    justify-self: center;
  justify-content: space-between;
  padding: 10px 0;
} */

@media (min-width: 40rem) {
    .login-div {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    }
}

.goals-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 70px;
}

.goals-header-container h1 {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5em;
    font-weight: 600;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.nav-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-item {
    margin: 15px;
    padding: 5px;
}

.myButton {
    margin: 7px;
    box-shadow: 0px 10px 14px -7px rgb(31, 142, 37);
    background:linear-gradient(to bottom, rgb(31, 142, 37) 5%, rgb(35, 255, 46) 100%);
    background-color:rgb(31, 142, 37);
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #0d2313;
}
.myButton:hover {
    background:linear-gradient(to bottom, rgb(35, 255, 46) 5%,rgb(31, 142, 37) 100%);
    background-color:rgb(35, 255, 46);
}
.myButton:active {
    position:relative;
    top:1px;
}
.buttonWW {
	box-shadow: 0px 10px 14px -7px #9fb4f2;
	background:linear-gradient(to bottom, rgb(31, 142, 37) 5%, rgb(35, 255, 46) 100%);
	background-color:rgb(31, 142, 37);
	border-radius:4px;
	border:1px solid rgb(35, 255, 46);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #0d2313;
    float: left;
    margin-right: 20px;
}
.buttonWW:hover {
	background:linear-gradient(to bottom, rgb(76,255,86) 5%, rgb(35, 255, 46) 100%);
	background-color: rgb(31, 142, 37);
}
.buttonWW:active {
	position:relative;
	top:1px;
}

.buttonWW-group {
    margin-left: 20px;
}
        
.goal-container {
    display: flex;                    
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 70px;
}

.fancy {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    padding: 40px 1em 0 1em;
    margin: 15px 100px;
    position: relative;
    background-color: #dbb1ff;
    border-radius: 25%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  .fancy:nth-child(odd) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    padding: 40px 1em 0 1em;
    margin: 0 100px;
    position: relative;
    background-color: #a1d0ff;
    border-radius: 25%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  .inner-text {
    text-align: center;
    color: black;
  }